body{
    margin: 0;
    padding: 0;
}
/* 
#maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.box{
    border: 2px solid red;
    height: 20vh;
    width: 20vw;
    margin: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: red;
    color: white;
}

.h2{
    color: white;
    background-color: purple;
}

.h2style{
    color: purple;
    font-family: 'Courier New', Courier, monospace;
    background-color: yellow;
} */

